.addr-label {
    flex: 0 0 70px;
    margin: 0 !important;
}

.ant-collapse-content-box > div {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ant-collapse-content-box > div > div:last-child {
    flex: 1;
    max-width: calc(100% - 70px);
}

.ant-collapse-content-box > div > div:last-child > button {
    max-width: 100%;;
}

.ant-collapse-content-box > div > div:last-child > button > span {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
