:root {
  color-scheme: light;
  --color-bg-page: #ffffff;
  --color-bg-light: #fafafa;
  --color-bg-gradient: #f0f2f5;
  --color-border: #d9d9d9;
  --color-border-secondary: #f0f0f0;
  --color-link: #1677ff;
  --color-success: #3cb043;
  --color-tooltip-bg: #000;
  --color-text-faint: rgba(0, 0, 0, 0.3);
  --color-text-muted: rgba(0, 0, 0, 0.4);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-tertiary: rgba(0, 0, 0, 0.65);
  --color-text-primary: rgba(0, 0, 0, 0.75);
  --color-shadow: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-page: #141414;
  --color-bg-light: #1f1f1f;
  --color-bg-gradient: #141414;
  --color-border: #424242;
  --color-border-secondary: #303030;
  --color-link: #1677ff;
  --color-success: #3cb043;
  --color-tooltip-bg: #262626;
  --color-text-faint: rgba(255, 255, 255, 0.3);
  --color-text-muted: rgba(255, 255, 255, 0.45);
  --color-text-secondary: rgba(255, 255, 255, 0.65);
  --color-text-tertiary: rgba(255, 255, 255, 0.85);
  --color-text-primary: rgba(255, 255, 255, 0.85);
  --color-shadow: rgba(0, 0, 0, 0.4);
}

html,
body {
  background: var(--color-bg-page);
}
